
    <div>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="/home/index">HOME</a>
        </li>
        <li class="list-inline-item">
          <a href="/<%=@name%>/index"><%=@name%><a>
        </li>
        <li class="list-inline-item">
              <a href="/<%=@name%>/<%=@header.id%>"><%=@header.name%>
              </a>
        </li>
      </ul>
		</div>
		<div class="text-center">
			<h3 style="text-transform:uppercase;"><%=@header.name%>
			</h3>
		</div>