<!DOCTYPE html>
<html>
  <head>
    <title>Ssc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
  <% if controller.controller_name !="charges"%>
    <header>
        <%=render partial: 'shared/header'%>
    </header>
    <main role="main" >
        <%= yield %>
        <%=render partial: 'shared/footer'%>
     </main>
    <%else%>

    <header>
      <nav class="navbar fixed-top navbar-light bg-light">
       <a class="navbar-brand mx-auto" href="#"> <%= image_tag "logo.png", style: "width:50%;height:50%;padding:0;margin:0;border:none;" %></a>
      </nav>
    </header>
    <main role="main" >
        <%= yield %>
        <%=render partial: 'shared/footer'%>
     </main>


    <%end%>
  </body>
</html>
